.idea/
.settings/
.metadata/
bin/
out/
TESM/
.scannerwork/
derby.log
.classpath
.project
assets/logo-equipes/*.jpg
*.iml
*.jar
*.json
~$BurndownChartSAE.xlsx
~$TESM E-Sporter Manager.pptx
~WRL3187.tmp
~$pport d'audit revue de code.docx
sonar-scanner.bat
~$Rapport d’audit.pptx